body {
    text-align: center;
    padding-top: 60px;
}
a,
a:hover,
a:focus,
a:active {
    color: #777;
}
.nav {
    float: right;
}
.nav li a {
    outline: none;
}
.container {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}
.tab-pane {
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.box {
    overflow: auto;
    min-width: 300px;
    max-height: 200px;
}
.content {
    padding: 0;
    margin: 0;
    text-align: left;
    white-space: pre;
    text-overflow: ellipsis;
    font-size: small;
}
#noHistory p {
    font-style: italic;
}
#carousel ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
#carousel li {
    display: none;
}
#carousel li.current {
    display: inline;
}
.btn:disabled,
.btn[disabled=disabled] {
    opacity: 0.3;
}
.disabled {
    width: 300px;
}
#errorMessage {
    color: red;
    display: inline;
    padding-bottom: 20px;
}
#historyTab {
    padding-bottom: 0;
    margin-bottom: 0;
}
#clearHistoryDiv {
    font-size: small;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.footer {
    font-size: small;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: rgba(255,255,255,.5);
}
.footer a,
.footer a:focus {
    text-decoration: none;
    color: rgba(255,255,255,.5);
}
.footer a:hover,
.footer a:active {
    color: #eceeef;
}
.left {
    float: left;
}
.right {
    float: right;
}
