body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
}
.nav li a {
    outline: none;
}
.container {
    padding: 0;
}
.tab-pane {
    padding: 10px;
}
.box {
    box-shadow: 2px 2px 10px #ccc;
    overflow: auto;
    width: 300px;
    max-height: 200px;
}
.content {
    padding: 0;
    margin: 0;
    text-align: left;
    white-space: pre;
    text-overflow: ellipsis;
    font-size: small;
}
#noHistory p {
    font-style: italic;
}
#carousel ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
#carousel li {
    display: none;
}
#carousel li.current {
    display: inline;
}
button {
    margin: 0 10px;
    display: inline-block;
}
#buttons {
    margin: 0 auto;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .3s;
    outline: none;
}
.btn-outline:disabled,
.btn-outline[disabled=disabled] {
    opacity: 0.3;
}
.btn-primary.btn-outline {
    color: #428bca;
}
.btn-primary.btn-outline:hover {
    color: #fff;
}
.disabled {
    width: 300px;
}
#errorMessage {
    color: red;
    display: inline;
    padding-bottom: 20px;
}
