html {
    overflow-y: scroll;
}
html,
body {
    height: 100%;
}
li {
    margin-top: 1rem;
}
a.card-link,
a.card-link:focus,
a.card-link:hover,
a.card-link:active {
    color: #777;
    text-decoration: none;
}
a,
a:hover,
a:focus,
a:active {
    color: #777;
}
a:focus {
    text-decoration: none;
}
.left-shadow {
    box-shadow: inset 5rem 0 5rem -5rem rgba(0,0,0,.5);
    -webkit-box-shadow: inset 5rem 0 5rem -5rem rgba(0,0,0,.5);
}
.right-shadow {
    box-shadow: inset -5rem 0 5rem -5rem rgba(0,0,0,.5);
    -webkit-box-shadow: inset -5rem 0 5rem -5rem rgba(0,0,0,.5);
}
.top-shadow {
    box-shadow: inset 0 5rem 5rem -5rem rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 5rem 5rem -5rem rgba(0,0,0,.5);
}
.bottom-shadow {
    box-shadow: inset 0 -5rem 5rem -5rem rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 -5rem 5rem -5rem rgba(0,0,0,.5);
}
.header-cont {
    width:100%;
    position:fixed;
    top:0;
    background:#FFF;
}
.header {
    height:100px;
    background:#FFF;
    width:960px;
    margin:0 auto;
    box-shadow: inset 0 5rem 5rem -5rem rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 5rem 5rem -5rem rgba(0,0,0,.5);
}
.footer-cont {
    width:100%;
    position:fixed;
    bottom:0;
    background:#FFF;
}
.footer {
    height:100px;
    background:#FFF;
    width:960px;
    margin:0 auto;
    box-shadow: inset 0 -5rem 5rem -5rem rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 -5rem 5rem -5rem rgba(0,0,0,.5);
}
.tab-content {
    margin: 110px auto;
}
.card-block {
    padding: 1rem;
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.cover-container.wide {
    width: 1000px;
}
.inner {
    padding: 2rem;
    text-align: center;
}
.masthead {
    margin-bottom: 2rem;
}
.masthead-brand {
    margin-bottom: 0;
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: bold;
    border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(0,0,0,.25);
}
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}
.nav-masthead .active {
    color: #000;
    border-bottom-color: #000;
}
.card {
    border: 1px solid #ccc;
}
.card-header,
.card-header a,
.card-header a:active,
.card-header a:focus {
    background-color: transparent;
    color: #373a3c;
}
@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: bold;
}
.mastfoot {
    /*color: rgba(255,255,255,.5);*/
}
@media (min-width: 40em) {
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}
/*@media (min-width: 62em) {*/
    /*.masthead,*/
    /*.mastfoot,*/
    /*.cover-container {*/
        /*width: 100%;*/
    /*}*/
/*}*/
